@page "/contact"

<div style="min-height:100vh;">
    <div class="m-auto text-center">
        <img src="https://media.istockphoto.com/id/1311934969/photo/contact-us.jpg?s=612x612&w=0&k=20&c=_vmYyAX0aFi-sHH8eYS-tLLNfs1ZWXnNB8M7_KWwhgg=" class="img-fluid" alt="Contact Us Image">
    </div>
    <div class="mb-3 ">
    <label for="exampleFormControlInput1" class="text-white">Your Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3 font-monospace">
    <label for="exampleFormControlTextarea1" class="text-white">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write what you wanted say us..."></textarea>
    </div>

    <div class="text-center table"><img src="https://cdn.dribbble.com/users/1604313/screenshots/6905805/contact-illustration.gif" style="width: 100px;height: 100px;border-radius: 50%" alt=""></div>

    <br>
    <div class=" text-center">
        <button class="btn btn-primary">Submit</button>
    </div>
</div>