<footer>
    <hr class=" bg-white">
    <div class="m-auto text-center mt-4" style="background-color: rgb(17, 43, 37);border-radius:30px;">
        <a href="https://github.com/satyameshmali12" class=" text-white font-monospace" target="_blank">Click To View My GitHub Account...</a>
    </div>
    <div class=" mt-5">
    <h6 style="vertical-align: middle;" class="font-monospace text-white">© Copyright by AJ:SAT</h6>
    </div>
</footer>


