@page "/"

<PageTitle>Index</PageTitle>


<div>

    <div style="min-height: 100vh;">  
    <h1 class="font1 text-white">Hey there!!!</h1>
    <div class="center">
        <img class="frontimage curveimage" src="https://1240972027.rsc.cdn77.org/data/_galerie_media/f_dscf9211.jpg" alt="Person Image">
    </div>
    <div style="margin-top: 20px;text-decoration-line: underline;">
        <h2 style="text-align: center;" class="font2 text-white">Myself Satyamesh Mali</h2>
        <h5 style="text-align: center;" class="font2 text-white">satyameshmalimern123@gmail.com</h5>

    </div>
    <div class="textcenter text-white font-monospace mt-5"  style="background-color: otnet rgb(144, 73, 73);"><p>
        I am a Web Developer,App Developer
        <br style="">b
        You can View my skills in the Skill Section
        <hr>
        I am learning Coding from last few blah blah time
        <br>
        <br>
        In this entire world apart from my family,what I love the most Is playing With the Technology

        <br>
        <b>Made by Inspiring Kishan Sir</b>
    </p></div>
    </div>
</div>

