.font1{
    font-family: 'Bruno Ace SC', cursive;
}

.font2{
    font-family: 'Sigmar', cursive;
}

.textcenter
{
    text-align: center;
}

.center
{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.frontimage{
    width: 30vw;
}
.curveimage
{
    border-radius: 20px;
    
}

@media only screen and (max-width : 960px)
{
    .frontimage{
        width: 50vw;
        
    }
}