.cwidth
{
  width: 25rem;
}


@media only screen and (max-width: 500px) {

  .cwidth
  {
    width: 85vw;
  }
}


.card{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(26, 50, 117);
}