.cardext {
  background-color: rgb(26, 50, 117);
  color: white;
}

.cardcenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

.resize {
}
@media only screen and (max-width: 500) {
    .resize{
        width: 90vw;
    }
}
