.cardext {
  background-color: rgb(26, 50, 117);
  color: white;
}

.cardcenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

.img {
  border-radius: 10px;
}


.cwidth
{
  width: 25rem;
}


@media only screen and (max-width: 500px) {

  .cwidth
  {
    width: 85vw;
  }
}
