@page "/languages"

<div class=" m-xl-5" style="min-height: 100px;">
    <h1 class="text-center text-white font-monospace">Languages I know...</h1>
</div>

<div style="min-height: 100vh;" class="cardcenter">
    @foreach (Skill skill in skills)
    {
        <div class="border-dark m-auto resize" style="width: 25rem;">
            <h3 class="text-black text-center" style="font-family: 'Vina Sans', cursive; background-color: lightslategray;">@(skill.Name)</h3>
            <img src=@(skill.ImageUrl) class="card-img-top" alt="...">
            <div class="card-body cardext">
                <p class="card-text text-center">@(skill.Description)</p>
            </div>
        </div>
    }
</div>

<hr class="bg-white">

<div class=" m-xl-5" style="min-height: 100px;">
    <h1 class="text-center text-white font-monospace">Frameworks I Know</h1>
    <br>
    <h4 class="text-white font-monospace">I use it to create....</h4>

</div>

<div style="min-height: 100vh;" class="cardcenter">
    @foreach (Skill framework in frameworks)
    {
        <div class="card border-dark m-auto" style="width: 25rem;">
            <h3 class="text-black text-center" style="font-family: 'Vina Sans', cursive; background-color: lightslategray;">@(framework.Name)</h3>
            <img src=@(framework.ImageUrl) class="card-img-top" alt="...">
            <div class="card-body cardext">
                <p class="card-text text-center">@(framework.Description)</p>
            </div>
        </div>
    }
</div>


@code{
    List<Skill> skills = Skill.GetSkills();
    List<Skill> frameworks = Skill.GetFrameworks();

}
